html,
body {
	margin: 0;
	padding: 2px 15px;
	height: auto;
	background: rgb(131, 58, 180);
	background: linear-gradient(
		180deg,
		rgba(131, 58, 180, 1) 0%,
		rgba(253, 29, 29, 1) 0%,
		rgba(252, 176, 69, 1) 100%
	);
	background-repeat: no-repeat;
	background-position: right top;
	background-attachment: no-scroll;
}
* {
	box-sizing: border-box;
}
.nav {
	margin: 10px;
	padding: 10 10px;
}

.navcontainer {
}
.navcontainer a {
	padding: 10px 16px;
	margin: 5px;
	text-decoration: none;
	font-size: large;
	font-family: "Berkshire Swash", cursive;
}

.navlinks {
	float: right;
	display: block;
}
.navlinks a {
	padding: 10px 10px;
	margin: 5px;
}
.navicon {
	padding: 10px 16px;
	display: none;
}
#brand {
	font-size: larger;
	font-weight: 200;
	text-shadow: 2px 2px orange;
}

/* ////////////////home///////////////// */

#home {
	margin: 15px 15px;
	background-color: grey;
	width: auto;
	background-image: url("images/meritt-thomas--A_U5GZlLlQ-unsplash.jpg");
	height: 500px;
	background-position: center;
	position: relative;
	background-repeat: no-repeat;
	background-size: cover;
}
.offer {
	width: auto;
	background-color: black;
	opacity: 0.8;
	color: white;
	position: absolute;
	bottom: 0;
}
.offer button {
	opacity: 1;
}

/* /////////////////////////////////////////////////// */

#features {
	text-align: center;
	background-color: white;
	border-radius: 10px;
}

#features .row:after {
	content: "";
	display: table;
	clear: both;
}

#features .column {
	float: left;
	width: 33%;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	transition: 0.3s;
	padding: 0 10px;
}

#features .column:hover {
	box-shadow: 0 8px 16px 9 rgba(0, 0, 0, 0.2);
}
#features .card {
	padding: 2px 16px;
	background-color: wheat;
}
#features img {
	width: 100%;
}
.card {
	text-align: center;
}
button {
	background-color: wheat;
	text-align: center;
	margin: 15px;
	padding: 15 15px;
	color: black;
	border-radius: 15px;
	border: none;
}

/* ////////////////////////how it works ////////////////////////// */

.howlinks {
	width: 100%;
	display: inline-flex;
	list-style-type: none;
	flex-direction: column;
}

.howlink {
	display: flex;
	transition: 0.3s;
	padding: 0 10px;
	float: left;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}
.card3 {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	height: 10rem;
	margin-right: -50px;
	overflow: visible;
	z-index: 1;
	background-color: wheat;
	padding: 10px;
}
.container3 {
	text-align: center;
	align-items: center;
	background-color: white;
	border-radius: 10px;
}

.img3 {
	margin: 20px;
	width: 600px;
	padding-right: -20px;
}
.img3 img {
	width: 100%;
}

.card4 {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	height: 10rem;
	margin-left: -50px;
	overflow: visible;
	z-index: 1;
	background-color: wheat;
	padding: 10px;
}
/* ///////////////////explore//////////////////////// */
.container4 {
	background-color: white;
	border-radius: 10px;
	text-align: center;

	align-items: center;
}
.container4 .img::after {
	content: "";
	clear: both;
	display: table;
}

.container4 img {
	width: 100%;
}
#explore {
	text-align: center;
	align-self: center;
}

/* //////////////////CAROUSEL///////////////////////////////////// */

.rcontainer {
	padding: 2px 20px;
	margin: 10px;
	align-items: center;
	text-align: center;
	background-color: white;
	border-radius: 10px;
}

#reviews .img:after {
	content: "";
	clear: both;
	display: table;
}
.mySlides {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
	padding: 2px 20px;
	margin-bottom: 10px;
}

.mySlides img {
	width: 100%;
}

.slideshow-container {
	padding: 2 20px;
	align-items: center;
	text-align: center;
	width: 350px;
}
.slideshow-container .clearfix::after {
	content: "";
	clear: both;
	display: table;
}
.mySlides {
	display: none;
}

.mySlides:hover {
	box-shadow: 0 10px 8px 0 rgba(0, 0, 0, 0.3);
}

/* ////////////////////////footer/////////////////////////// */
#footer {
	margin: 20px;
}
.featured {
	align-items: center;
	text-align: center;
	background-color: grey;
}
.featured1 {
	align-items: center;
	text-align: center;
	background-color: lightgrey;
	margin: auto;
	padding: 2px 16px;
}
.featured1 h1 {
	padding: 2px 16px;
	margin: 20px;
}
.featured1 img {
	width: 100%;
}
.featured2 h1 {
	align-items: center;
	text-align: center;
	margin: 20px;
	font-family: "Pacifico", cursive;
}
.featured p {
	text-align: center;
}
.featured .end1 {
	width: 100px;
	align-items: center;
}
.logos {
	width: auto;
	flex: auto;
}
.logos1 {
	list-style-type: none;
	display: inline-flex;
}
.logos2 img {
	padding: 2px 15px;
}

.featured2 ul {
	list-style-type: none;
	text-decoration: none;
	margin: 0;
	padding: 0;
}
.featured2 a {
	color: black;
}

.featured3 ul {
	list-style-type: none;
	padding: 0;
}

.featured3 .social {
	flex: auto;
}

.featured5 {
	color: white;
	background-color: black;
}
.featuredLinks2 {
	display: inline-flex;
	color: black;
}
.featuredLinks2 i {
	padding: 5px;
	color: black;
}

.featuredLink1div a {
	color: black;
	padding: 14px;
}
.featuredLink1 a {
	color: black;
	padding: 14px 14px;
}
.featuredLink1 {
	padding: 14px 14px;
}

@media screen and (max-width: 600px) {
	body {
		font-size: 20px;
	}
	.navcontainer a {
		padding: 10px 16px;
		margin: 5px;
		text-decoration: none;
		font-size: large;
		font-family: "Berkshire Swash", cursive;
	}

	.navicon {
		padding: 10px 16px;
		display: inline;
	}
	#brand {
		font-size: xx-large;
		font-weight: 200;
		text-shadow: 2px 2px orange;
		padding-left: 5px;
	}

	.navlinks {
		display: none;
	}

	.navicon:hover {
		text-shadow: 2px 2px orange;
	}

	.navicon.active {
		text-shadow: 2px 2px orange;
	}
	.navlinks.responsive {
		position: relative;
		display: block;
		float: none;
		z-index: 1;
		transition: 0.5s;
		overflow-x: hidden;
	}
	.navlinks.responsive a:hover,
	.overlay a:focus {
		color: #f1f1f1;
	}
	.navlinks.responsive a {
		float: none;
		display: block;
		text-align: center;
		background: rgb(252, 176, 69);
		background: radial-gradient(
			circle,
			rgba(252, 176, 69, 1) 0%,
			rgba(253, 29, 29, 1) 100%
		);
	}
	.navlinks.responsive a:hover {
		background-color: green;
	}

	#features {
		text-align: center;
		background-color: white;
		border-radius: 10px;
	}

	#features .row:after {
		content: "";
		display: table;
		clear: both;
	}

	#features .column {
		float: none;
		width: 100%;
		transition: 0.3s;
		box-shadow: none;
		border-radius: 5px;
	}

	#features .card {
		background-color: wheat;
		border-radius: 5px;
	}
	#features img {
		width: 100%;
	}
	.howdiv {
		margin: 0;
	}
	.howlinks {
		display:flex;
		float: none;
		list-style-type: none;
padding: 2px 16px;
margin: 5px 5px;
	}
.howlinks .howlink:after {
		content: "";
		display: table;
		clear: both;
	}
	.howlink .card3::after {
		content: "";
		display: table;
		clear: both;
	}
		.howlink .card4::after {
		content: "";
		display: table;
		clear: both;
	}
	.howlink {
		display: block;
		transition: 0.3s;
		align-items: center;
		justify-content: center;
		background-color: wheat;
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
		padding: 2px 16px;
margin: 5px 5px;
	}
	.card3 {
		background-color: wheat;
		min-width: 100%;
		width: auto;
		text-align: left;
		margin: 0;
	}
	.container3 {
		text-align: center;
		align-items: center;
		background-color: white;
		border-radius: 10px;
		min-width: 100%;
		width: auto;
	}

	.img3 {
		width: 100%;
		margin: 0;

	}
	

	.card4 {
		background-color: wheat;
		min-width: 100%;
		width: auto;
		text-align: right;
		margin: 5px;
		padding: 2px 16px;

	}
}
	.rcontainer {
		align-items: center;
		text-align: center;
		background-color: white;
		border-radius: 10px;
		min-width: 100%;
	}

	#reviews .img:after {
		content: "";
		clear: both;
		display: table;
	}
	.mySlides {
		margin-bottom: 10px;
	}

	.mySlides img {
		width: 100%;
	}

	.slideshow-container {
		padding: 2 20px;
		align-items: center;
		text-align: center;
		width: 100%;
	}
	.rcontainer .slideshow-container::after {
		content: "";
		clear: both;
		display: table;
	}
}
