html,
body {
	margin: 0;
	padding: 0;
	height: 100%;
}
* {
	box-sizing: border-box;
}
.nav {
	margin: 10;
	padding: 10px;
	background-color: aquamarine;
	position: fixed;
	top: 0;
	width: 100%;
	display: inline-flex;
}
.container {
	padding: 20px 20px;
	text-align: center;
	padding: 20px 20px;
	margin: 30px;
	height: auto;
	width: auto;
}

.h1 {
	width: 100px;
}

.links {
	list-style-type: none;
	overflow: hidden;
	width: 100%;
}
.link {
	float: right;
}
.nav li {
	padding: 14px 16px;
	text-align: center;
	text-decoration: none;
}

/* ////////////////home///////////////// */

#home {
	margin-top: 10rem;
	background-color: grey;
	width: auto;
	background-image: url("images/meritt-thomas--A_U5GZlLlQ-unsplash.jpg");
	height: 500px;
	background-position: center;
	position: relative;
	background-repeat: no-repeat;
	background-size: cover;
}
.offer {
	width: auto;
	background-color: black;
	opacity: 0.6;
	color: white;
	position: absolute;
	bottom: 0;
}

#features .row {
}

#features .row:after {
	content: "";
	display: table;
	clear: both;
}

#features .column {
	float: left;
	width: 33%;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	transition: 0.3s;
	padding: 0 10px;
}

#features .column:hover {
	box-shadow: 0 8px 16px 9 rgba(0, 0, 0, 0.2);
}
#features .card {
	padding: 2px 16px;
	background-color: wheat;
}
#features img {
	width: 100%;
}
.card {
	text-align: center;
}
button {
	background-color: brown;
	text-align: center;
	margin: 15px;
	padding: 15 15px;
	color: aliceblue;
	border-radius: 15px;
	border: none;
}

@media screen and (max-width: 600px) {
	#features .column {
		width: 100%;
		display: block;
		margin-bottom: 20px;
	}
}

/* ////////////////////////how it works ////////////////////////// */

.howlinks {
	width: 100%;
	display: inline-flex;
	list-style-type: none;
	flex-direction: column;
}

.howlink {
	display: flex;
	transition: 0.3s;
	padding: 0 10px;
	float: left;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}
.card3 {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	height: 10rem;
	margin-right: -50px;
	overflow: visible;
	z-index: 1;
	background-color: wheat;
	padding: 10px;
}

.img3 {
	margin: 20px;
	width: 600px;
	padding-right: -20px;
}
.img3 img {
	width: 100%;
}

.card4 {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	height: 10rem;
	margin-left: -50px;
	overflow: visible;
	z-index: 1;
	background-color: wheat;
	padding: 10px;
}
/* ///////////////////explore//////////////////////// */

.container4 img {
	width: 100%;
}

/* //////////////////CAROUSEL///////////////////////////////////// */

#reviews {
	padding: 2px 20px;
	margin: 20px;
	height: auto;
	width: 500px;
	display: inline-flex;
	align-items: center;
}
#reviews .clearfix::after {
  content: "";
  clear: both;
  display: table;
}
.mySlides {
	align-items: center;
	text-align: center;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
	background-color: wheat;
padding: 2px 20px;
margin-bottom: 10px;display: flex;
}

.mySlides img {
	width: 100%;
	height: 14rem;
}

.slideshow-container {
	padding: 2 20px;
	display: flex;
	align-items: center;
}
.slideshow-container .clearfix::after {
  content: "";
  clear: both;
  display: table;
}
.mySlides {
	display: none;
}

.mySlides:hover {
	box-shadow: 0 10px 8px 0 rgba(0, 0, 0, 0.3);
}

/* ////////////////////////footer/////////////////////////// */
#footer {
	margin: 20px;
}
.featured {
	align-items: center;
	text-align: center;
	background-color: grey;
}
.featured1 {
	align-items: center;
	text-align: center;
	background-color: lightgrey;
	margin: auto;
	padding: 2px 16px;
}
.featured1 h1 {
	padding: 2px 16px;
	margin: 20px;
}
.featured2 h1 {
	align-items: center;
	text-align: center;
	margin: 20px;
	font-family: "Pacifico", cursive;
}
.featured p {
	text-align: center;
}
.featured .end1 {
	width: 100px;
	align-items: center;
}
.logos {
	flex: auto;
}
.logos1 {
	list-style-type: none;
	display: inline-flex;
}
.logos2 {
}

.featured2 ul {
	list-style-type: none;
	text-decoration: none;
	margin: 0;
	padding: 0;
}
.featured2 a {
	color: black;
}

.featured3 ul {
	list-style-type: none;
	padding: 0;
}

.featured3 .social {
	flex: auto;
}

.featured5 {
	color: white;
	background-color: black;
}
.featuredLinks2 {
	display: inline-flex;
	color: black;
}
.featuredLinks2 i {
	padding: 5px;
	color: black;
}

.featuredLink1div a {
	color: black;
	padding: 14px;
}
.featuredLink1 a {
	color: black;
	padding: 14px 14px;
}
.featuredLink1 {
	padding: 14px 14px;
}
